<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">

      <div class="jumbotron">
        <h1>Pixie</h1>
        <form class="bs-example form-horizontal" ng-submit="setDirectory()">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-1 control-label">Directory</label>
              <div class="col-lg-8">
                <input type="text" ng-model="directory" class="form-control" placeholder="Directory to scan">
              </div>
            </div>
          </fieldset>
        </form>
        <!-- TODO make this if work -->
        <!-- <dif ng-if="{error != ''}"> -->
            <div class="alert alert-dismissable alert-danger">
                {{error.data}}
            </div>
        <!-- </div> -->
      </div>
        <keybinding on="o" invoke="openRecord()" />
        <keybinding on="j" invoke="moveDown()" />
        <keybinding on="k" invoke="moveUp()" />

      <div class="photos">
          <div ng-repeat="photo in photos">
		      <div class="panel" ng-class="{'panel-primary': photo.id == focusIndex, 'panel-info': photo.id != focusIndex}">
                  <div id="photo-{{photo.id}}" class="panel-heading">
                      <h3 class="panel-title">{{photo.name}}</h3>
                  </div>
                  <div class="panel-body">
                      <table>
                          <tr>
                              <td>
                                  <a href="#/photos/{{photo.name}}" class="thumb"><img ng-src="/thumbnails/{{photo.thumb}}"></a>
                             </td>
                             <td>
                                 <ul>
                                     <li style="display: block;" ng-repeat="tag in photo.tags" class="label label-info">{{tag}}</li>
                                 </ul>
                             </td>
                         </tr>
                     </table>
                  </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
